<section>


  <table datatable [dtOptions]="dtOptions" class="row-border hover">
    <thead>
      <tr>
        <th>Mobile No.</th>
        <th>DOB</th>
        <th>PinCode</th>
        <th>State</th>
        <th>City</th>
        <th>location</th>
        <th>image</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of formData">
        <td>{{item.mobile}}</td>
        <td>{{item.birthday}}</td>
        <td>{{item.pincode}}</td>
        <td>{{item.state}}</td>
        <td>{{item.city}}</td>
        <td>latitude:- {{item.latitude}},<br> longitude:- {{item.longitude}}</td>
        <td><img src="" alt=""></td>
        <td>
          <div class="d-flex justify-content-center align-item-center gap-2">
            <button class="btn action_btn edit" (click)="editItem(this.item)">edit</button>
            <button class="btn action_btn delete" (click)="removeItem(this.item)">delete</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</section>